
  <style type="text/css">
    table { border: 1px solid; }
    td { border: 1px solid; padding: 5px; }
    th { border: 1px solid; font-variant: small-caps; }
  </style>

<h2><%=@report_name%></h2>
<%=Time.now %>
<p/>
  <%=@report_table%>